.idea
.env

#app for generate json file from pdf
cmd/pdf

#databases
internal/database/migrations/words_old.json
internal/database/redis
internal/database/mongo/users.go
internal/database/mongo/results.go

#grpc
cmd/grpc_server
proto

#front
web

